.custom-radio {
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26px;
  gap: 8px;

  input[type="radio"] {
    display: none;
  }

  .custom-radio-icon {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-text-gray);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: var(--color-bg-white);
    transition: border-color 0.2s;
  }

  input[type="radio"]:checked + .custom-radio-icon {
    background: var(--color-bg-white);
    border-color: var(--color-secondary);
  }

  .custom-radio-icon::after {
    content: '';
    display: block;
    width: 9px;  
    height: 9px; 
    border-radius: 50%;
    background: var(--color-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }

  input[type="radio"]:checked + .custom-radio-icon::after {
    opacity: 1;
  }

  .custom-radio-label {
    user-select: none;
  }
}

