:root {
  --font-family: 'Nunito', Arial, sans-serif;
  
  --color-primary: #F4E041;
  --color-primary-hover: #FFE302;
  --color-secondary: #00BDD3;
  --color-bg-light: #F8F8F8;
  --color-text-gray: #D0CFCF;
  --color-text-light: #7E7E7E;
  --color-text-gray-error: #CB3D40;
  --color-text-error: #CB3D40;
  --color-black: #000000DE;
  --color-disabled-white: #FFFFFF;
  --color-shadow-tooltip: rgba(0,0,0,0.08);
  --color-disabled-bg: #B4B4B4;
}

body{
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-family);
  color: var(--color-text-dark);
  background: var(--color-bg-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
}


