:root {
  --font-family: 'Nunito', Arial, sans-serif;
  --color-primary: #F4E041;
  --color-primary-hover: #FFEE80;
  --color-secondary: #00BDD3;
  --color-bg-light: #F8F8F8;
  --color-text-gray: #b9b4b4;
  --color-text-dark: #333;
    max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

